# Devbox
.devbox/

# uv / Python Virtual Environment
.venv/
*.pyc
__pycache__/
*.so
*.egg-info/
dist/
build/
*.egg
*.log

# Nix
result*
flake.lock
.direnv/

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo

# macOS specific
.DS_Store
._*

# Windows specific
Thumbs.db

# Secrets / Sensitive Configuration
.env
config.yaml
# *.pem
# *.key

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Test output / coverage reports
htmlcov/
.coverage
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover
*.db

# ruff cache
.ruff_cache/
# mypy cache
.mypy_cache/

# Wheel f
iles
*.whl

# Logs
logs/
*.log

# Other
*.bak
*.tmp